
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(237, 234, 228);
    padding: 10px;
    height: 100vh;
    display: grid;
    grid-template-rows: 20px 1fr 350px;

}
.main-display {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1;
    grid-row: 2;
}

.header {
    font-size: 3rem;
    padding-left: 10px;
}

form {
    padding:20px;
    align-self: center;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    width: 300px;
}

input[type="text"] {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 30px;
    font-size: 1.2rem;
    padding-left: 3px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-bottom: 15px;
    border-style: none;
    border-radius: 2px;
}

input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

input[type="submit"] {
    margin-top:20px;
    height:40px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}

input[type="radio"] {
    font-size: 1rem;
}

fieldset {
    border-style: none;
    font-size: 1.2rem;  
}

fieldset p {
    padding-bottom: 10px;
}

.read-status {
    width:200px; 
}

.book {
    height: 580px;
    width: 400px;
    border-radius: 3px;
    background-color: rgb(124, 158, 220);
    padding:15px;
    grid-row: 1;
    place-self: center;
    display: grid;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(110, 142, 200, 0.865);
}

.book-style {
    font-size: 2rem;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.shelf {
    background-color: rgb(168, 194, 194);
    grid-row: 3;
    padding:10px;
    display:flex;
    gap: 10px;
}

.book-shelf {
    background-color: azure;
    width: 200px;  
}

.display-style {
    width: 200px;
    background-color: rgb(156, 188, 214);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(139, 168, 193, 0.526);
    padding: 10px;
    font-size: 1rem;
    display: grid;   
    position: relative;
}

.display-style > p:nth-child(odd) {
    font-size: .8rem;
}

.display-style > p:nth-child(even) {
    font-size: 1.15rem;
    grid-template-rows: 1fr 1fr;
    display: grid;
}

.read-toggle,
.read-toggle-no {
    background-color: rgb(160, 241, 163, 0.71);
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    height: 25px;
    text-transform: uppercase;
    box-shadow: 0 0 4px rgba(135, 135, 135, 0.3);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    margin: 8px;
    margin-right: 10px;
    border-radius: 3px;
}

.read-toggle-no {
    background-color: rgb(250, 235, 215); 
}

.read-button {
    position: absolute;
    border-radius: 5rem;
    height: 30px;
    width: 30px;
    right: 0;
    margin: 5px;
    border-style: dashed;
    border-width: 1.9px;
    border-color: rgb(124, 158, 220, 0.8);
    background-color: antiquewhite;
    font-family: 'Oswald', sans-serif;
}

.read-button:hover {
    scale: 1.15;
    font-size: 1rem;
}

.read-toggle:hover {
    scale: 1.015;
    font-size: 
}

button {
    border-style: none; 
}